In [1]:
import seaborn as sns 
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
pd.core.common.is_list_like = pd.api.types.is_list_like
import pandas_datareader.data as web
import datetime as dt
from scipy.optimize import minimize

Get data

In [11]:
# Define the start and end dates of stock prices
def get_data(name, start,end):
    # download data 
    df = web.DataReader(name, 'yahoo', start, end)
    df = df.sort_values(by='Date')
    return df

In [12]:
start_date = dt.datetime(2011, 1, 1)
end_date = dt.datetime(2022, 9, 1)
GM = get_data("GM", start=start_date, end=end_date)
VIX = get_data("^VIX", start=start_date, end=end_date)
SP = get_data("^GSPC", start=start_date, end=end_date)
NASDAQ = get_data("^IXIC", start=start_date, end=end_date)
GOLD = get_data("GC=F", start=start_date, end=end_date)
OIL = get_data("CL=F", start=start_date, end=end_date)
# General Motors Supplier
Tuopu = get_data("601689.SS", start=start_date, end=end_date)
# Freeport-McMoRan：Producer of copper mine
FCX = get_data("FCX", start=start_date, end=end_date)
AA = get_data("AA", start=start_date, end=end_date)

In [13]:
target_move = GM[["Adj Close"]].pct_change(1)
GM_Volume = GM[["Volume"]]
VIX = VIX[["Close"]]
SP = SP[["Adj Close"]]
NASDAQ = NASDAQ[["Adj Close"]]
GOLD = GOLD[["Adj Close"]]
OIL = OIL[["Adj Close"]]
Tuopu = Tuopu[["Adj Close"]]
FCX = FCX[["Adj Close"]]
AA = AA[["Adj Close"]]
rolling_10 = GM[['Adj Close']].rolling(10).mean()

In [15]:

df = GM_Volume.merge(VIX,how = "left",left_index=True, right_index=True).merge(SP,left_index=True, right_index=True).merge(NASDAQ,left_index=True, right_index=True).merge(GOLD,left_index=True, right_index=True).merge(OIL,left_index=True, right_index=True).merge(Tuopu,left_index=True, right_index=True).merge(FCX,left_index=True, right_index=True).merge(AA,left_index=True, right_index=True).merge(rolling_10,left_index=True, right_index=True).merge(target_move,left_index=True, right_index=True)
df.columns = ["GM Volume","VIX","SP","NASDAQ","GOLD","OIL","Tuopu","FCX","AA","rolling_10","target_move",]
df

/var/folders/4_/0p3l6m0x22qdsjwms8cj48sm0000gn/T/ipykernel_3479/2250445310.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Adj Close_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = GM_Volume.merge(VIX,how = "left",left_index=True, right_index=True).merge(SP,left_index=True, right_index=True).merge(NASDAQ,left_index=True, right_index=True).merge(GOLD,left_index=True, right_index=True).merge(OIL,left_index=True, right_index=True).merge(Tuopu,left_index=True, right_index=True).merge(FCX,left_index=True, right_index=True).merge(AA,left_index=True, right_index=True).merge(rolling_10,left_index=True, right_index=True).merge(target_move,left_index=True, right_index=True)
/var/folders/4_/0p3l6m0x22qdsjwms8cj48sm0000gn/T/ipykernel_3479/2250445310.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Adj Close_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = GM_Volume.merge(VIX,how = "left",left_index=True, right_index=True).merge(SP,left_index=True, right_index=True).merge(NASDAQ,left_index=True, right_index=True).merge(GOLD,left_index=True, right_index=True).merge(OIL,left_index=True, right_index=True).merge(Tuopu,left_index=True, right_index=True).merge(FCX,left_index=True, right_index=True).merge(AA,left_index=True, right_index=True).merge(rolling_10,left_index=True, right_index=True).merge(target_move,left_index=True, right_index=True)
/var/folders/4_/0p3l6m0x22qdsjwms8cj48sm0000gn/T/ipykernel_3479/2250445310.py:1: FutureWarning: Passing 'suffixes' which cause duplicate columns {'Adj Close_x'} in the result is deprecated and will raise a MergeError in a future version.
  df = GM_Volume.merge(VIX,how = "left",left_index=True, right_index=True).merge(SP,left_index=True, right_index=True).merge(NASDAQ,left_index=True, right_index=True).merge(GOLD,left_index=True, right_index=True).merge(OIL,left_index=True, right_index=True).merge(Tuopu,left_index=True, right_index=True).merge(FCX,left_index=True, right_index=True).merge(AA,left_index=True, right_index=True).merge(rolling_10,left_index=True, right_index=True).merge(target_move,left_index=True, right_index=True)

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,Tuopu,FCX,AA,rolling_10,target_move
Date,,,,,,,,,,,
2015-03-19,11255700.0,14.070000,2089.270020,4992.379883,1169.099976,43.959999,10.525356,16.155075,30.235945,30.590418,0.003896
2015-03-20,19769700.0,13.020000,2108.100098,5026.419922,1184.800049,45.720001,11.579820,17.231453,30.259272,30.777971,0.005692
2015-03-23,11656900.0,13.410000,2104.419922,5010.970215,1188.000000,47.450001,12.737159,18.092558,30.329266,30.852830,-0.007204
2015-03-24,15855900.0,13.620000,2091.500000,4994.729980,1191.699951,47.509998,14.010232,17.952166,30.539238,30.876978,-0.019176
2015-03-25,10209800.0,15.440000,2061.050049,4876.520020,1197.300049,49.209999,15.411899,17.867924,30.259272,30.844780,-0.012417
...,...,...,...,...,...,...,...,...,...,...,...
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,83.800003,32.189999,55.840000,39.029891,-0.028720
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,81.699997,31.500000,55.500000,39.040865,0.007137
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,82.349998,29.760000,50.790001,39.063747,-0.007357
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,79.059998,29.600000,49.480000,39.053494,-0.023511
2022-09-01,11370800.0,25.559999,3966.850098,11785.129883,1696.599976,86.610001,76.919998,28.090000,48.080002,39.046314,0.009160

Preprocessing

In [16]:
from sklearn.model_selection import train_test_split
from sklearn.decomposition import PCA

In [17]:
df.loc[df["target_move"] > 0, "direction"] = int(1)
df.loc[df["target_move"] < 0, "direction"] = int(0)
df

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,Tuopu,FCX,AA,rolling_10,target_move,direction
Date,,,,,,,,,,,,
2015-03-19,11255700.0,14.070000,2089.270020,4992.379883,1169.099976,43.959999,10.525356,16.155075,30.235945,30.590418,0.003896,1.0
2015-03-20,19769700.0,13.020000,2108.100098,5026.419922,1184.800049,45.720001,11.579820,17.231453,30.259272,30.777971,0.005692,1.0
2015-03-23,11656900.0,13.410000,2104.419922,5010.970215,1188.000000,47.450001,12.737159,18.092558,30.329266,30.852830,-0.007204,0.0
2015-03-24,15855900.0,13.620000,2091.500000,4994.729980,1191.699951,47.509998,14.010232,17.952166,30.539238,30.876978,-0.019176,0.0
2015-03-25,10209800.0,15.440000,2061.050049,4876.520020,1197.300049,49.209999,15.411899,17.867924,30.259272,30.844780,-0.012417,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,83.800003,32.189999,55.840000,39.029891,-0.028720,0.0
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,81.699997,31.500000,55.500000,39.040865,0.007137,1.0
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,82.349998,29.760000,50.790001,39.063747,-0.007357,0.0
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,79.059998,29.600000,49.480000,39.053494,-0.023511,0.0
2022-09-01,11370800.0,25.559999,3966.850098,11785.129883,1696.599976,86.610001,76.919998,28.090000,48.080002,39.046314,0.009160,1.0

In [18]:
df = df.dropna()
df

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,Tuopu,FCX,AA,rolling_10,target_move,direction
Date,,,,,,,,,,,,
2015-03-19,11255700.0,14.070000,2089.270020,4992.379883,1169.099976,43.959999,10.525356,16.155075,30.235945,30.590418,0.003896,1.0
2015-03-20,19769700.0,13.020000,2108.100098,5026.419922,1184.800049,45.720001,11.579820,17.231453,30.259272,30.777971,0.005692,1.0
2015-03-23,11656900.0,13.410000,2104.419922,5010.970215,1188.000000,47.450001,12.737159,18.092558,30.329266,30.852830,-0.007204,0.0
2015-03-24,15855900.0,13.620000,2091.500000,4994.729980,1191.699951,47.509998,14.010232,17.952166,30.539238,30.876978,-0.019176,0.0
2015-03-25,10209800.0,15.440000,2061.050049,4876.520020,1197.300049,49.209999,15.411899,17.867924,30.259272,30.844780,-0.012417,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,83.800003,32.189999,55.840000,39.029891,-0.028720,0.0
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,81.699997,31.500000,55.500000,39.040865,0.007137,1.0
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,82.349998,29.760000,50.790001,39.063747,-0.007357,0.0
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,79.059998,29.600000,49.480000,39.053494,-0.023511,0.0
2022-09-01,11370800.0,25.559999,3966.850098,11785.129883,1696.599976,86.610001,76.919998,28.090000,48.080002,39.046314,0.009160,1.0

Use n-1 date data to predict n day data. So remove last day of predicted variables and first day

In [22]:
X = df.drop(columns=["direction", "target_move"])
X

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,Tuopu,FCX,AA,rolling_10
Date,,,,,,,,,,
2015-03-19,11255700.0,14.070000,2089.270020,4992.379883,1169.099976,43.959999,10.525356,16.155075,30.235945,30.590418
2015-03-20,19769700.0,13.020000,2108.100098,5026.419922,1184.800049,45.720001,11.579820,17.231453,30.259272,30.777971
2015-03-23,11656900.0,13.410000,2104.419922,5010.970215,1188.000000,47.450001,12.737159,18.092558,30.329266,30.852830
2015-03-24,15855900.0,13.620000,2091.500000,4994.729980,1191.699951,47.509998,14.010232,17.952166,30.539238,30.876978
2015-03-25,10209800.0,15.440000,2061.050049,4876.520020,1197.300049,49.209999,15.411899,17.867924,30.259272,30.844780
...,...,...,...,...,...,...,...,...,...,...
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,83.800003,32.189999,55.840000,39.029891
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,81.699997,31.500000,55.500000,39.040865
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,82.349998,29.760000,50.790001,39.063747
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,79.059998,29.600000,49.480000,39.053494
2022-09-01,11370800.0,25.559999,3966.850098,11785.129883,1696.599976,86.610001,76.919998,28.090000,48.080002,39.046314

In [23]:
X = X.drop(labels="2022-09-01", axis=0)
X

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,Tuopu,FCX,AA,rolling_10
Date,,,,,,,,,,
2015-03-19,11255700.0,14.070000,2089.270020,4992.379883,1169.099976,43.959999,10.525356,16.155075,30.235945,30.590418
2015-03-20,19769700.0,13.020000,2108.100098,5026.419922,1184.800049,45.720001,11.579820,17.231453,30.259272,30.777971
2015-03-23,11656900.0,13.410000,2104.419922,5010.970215,1188.000000,47.450001,12.737159,18.092558,30.329266,30.852830
2015-03-24,15855900.0,13.620000,2091.500000,4994.729980,1191.699951,47.509998,14.010232,17.952166,30.539238,30.876978
2015-03-25,10209800.0,15.440000,2061.050049,4876.520020,1197.300049,49.209999,15.411899,17.867924,30.259272,30.844780
...,...,...,...,...,...,...,...,...,...,...
2022-08-25,15211900.0,21.780001,4199.120117,12639.269531,1757.699951,92.519997,80.000000,33.230000,56.919998,39.054834
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,83.800003,32.189999,55.840000,39.029891
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,81.699997,31.500000,55.500000,39.040865
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,82.349998,29.760000,50.790001,39.063747
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,79.059998,29.600000,49.480000,39.053494

In [24]:
len(X)

1739

In [25]:
y = df["direction"]
y

Date
2015-03-19    1.0
2015-03-20    1.0
2015-03-23    0.0
2015-03-24    0.0
2015-03-25    0.0
             ...
2022-08-26    0.0
2022-08-29    1.0
2022-08-30    0.0
2022-08-31    0.0
2022-09-01    1.0
Name: direction, Length: 1740, dtype: float64

In [26]:
y = y.drop(labels="2015-03-19", axis=0)
y

Date
2015-03-20    1.0
2015-03-23    0.0
2015-03-24    0.0
2015-03-25    0.0
2015-03-26    0.0
             ...
2022-08-26    0.0
2022-08-29    1.0
2022-08-30    0.0
2022-08-31    0.0
2022-09-01    1.0
Name: direction, Length: 1739, dtype: float64

In [27]:
len(y)

1739

Split train test dataset

In [28]:
X_train = X.iloc[:int(len(X)*0.9),:]
X_train

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,Tuopu,FCX,AA,rolling_10
Date,,,,,,,,,,
2015-03-19,11255700.0,14.070000,2089.270020,4992.379883,1169.099976,43.959999,10.525356,16.155075,30.235945,30.590418
2015-03-20,19769700.0,13.020000,2108.100098,5026.419922,1184.800049,45.720001,11.579820,17.231453,30.259272,30.777971
2015-03-23,11656900.0,13.410000,2104.419922,5010.970215,1188.000000,47.450001,12.737159,18.092558,30.329266,30.852830
2015-03-24,15855900.0,13.620000,2091.500000,4994.729980,1191.699951,47.509998,14.010232,17.952166,30.539238,30.876978
2015-03-25,10209800.0,15.440000,2061.050049,4876.520020,1197.300049,49.209999,15.411899,17.867924,30.259272,30.844780
...,...,...,...,...,...,...,...,...,...,...
2021-11-29,15033100.0,22.959999,4655.270020,15782.830078,1782.300049,69.949997,66.258049,37.521446,48.902687,62.222937
2021-11-30,21282200.0,27.190001,4567.000000,15537.690430,1773.599976,66.180000,66.725777,36.632313,46.305294,61.714099
2021-12-01,26353700.0,31.120001,4513.040039,15254.049805,1781.599976,65.570000,65.929642,35.792572,43.568569,61.260135
2021-12-02,25365100.0,27.950001,4577.100098,15381.320312,1760.699951,66.500000,62.456516,36.652069,44.603550,60.901953
2021-12-03,19596100.0,30.670000,4538.430176,15085.469727,1782.000000,66.260002,56.923405,36.118591,43.857174,60.640550

In [29]:
X_test = X.iloc[1565:1739,:]
X_test

,GM Volume,VIX,SP,NASDAQ,GOLD,OIL,Tuopu,FCX,AA,rolling_10
Date,,,,,,,,,,
2021-12-06,16728200.0,27.180000,4591.669922,15225.150391,1777.500000,69.489998,54.226509,36.918808,45.339981,60.444996
2021-12-07,14135700.0,21.889999,4686.750000,15686.919922,1782.599976,72.050003,50.892708,38.301903,46.713310,60.192573
2021-12-08,10004100.0,19.900000,4701.209961,15786.990234,1783.400024,72.360001,51.917725,38.252510,48.325493,59.966090
2021-12-09,12964800.0,21.580000,4667.450195,15517.370117,1774.599976,70.940002,51.907776,38.005527,49.738632,59.709675
2021-12-10,22839800.0,18.690001,4712.020020,15630.599609,1782.900024,71.669998,51.649033,37.906734,48.564327,60.012983
...,...,...,...,...,...,...,...,...,...,...
2022-08-25,15211900.0,21.780001,4199.120117,12639.269531,1757.699951,92.519997,80.000000,33.230000,56.919998,39.054834
2022-08-26,16179500.0,25.559999,4057.659912,12141.709961,1736.099976,93.059998,83.800003,32.189999,55.840000,39.029891
2022-08-29,13408900.0,26.209999,4030.610107,12017.669922,1736.599976,97.010002,81.699997,31.500000,55.500000,39.040865
2022-08-30,15090600.0,26.209999,3986.159912,11883.139648,1723.199951,91.639999,82.349998,29.760000,50.790001,39.063747
2022-08-31,15390300.0,25.870001,3955.000000,11816.200195,1712.800049,89.550003,79.059998,29.600000,49.480000,39.053494

In [30]:
y_train = y.iloc[:int(len(X)*0.9)]
y_train

Date
2015-03-20    1.0
2015-03-23    0.0
2015-03-24    0.0
2015-03-25    0.0
2015-03-26    0.0
             ...
2021-11-30    0.0
2021-12-01    1.0
2021-12-02    1.0
2021-12-03    0.0
2021-12-06    1.0
Name: direction, Length: 1565, dtype: float64

In [31]:
y_test = y.iloc[1565:1739]
y_test

Date
2021-12-07    1.0
2021-12-08    0.0
2021-12-09    0.0
2021-12-10    1.0
2021-12-13    0.0
             ...
2022-08-26    0.0
2022-08-29    1.0
2022-08-30    0.0
2022-08-31    0.0
2022-09-01    1.0
Name: direction, Length: 174, dtype: float64

Feature Selection

In [32]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler

In [33]:
# StandardScaler
transfer = StandardScaler()
X_train_StandardScaler = transfer.fit_transform(X_train)
X_test_StandardScaler = transfer.transform(X_test)
pd.DataFrame(X_test_StandardScaler)

,0,1,2,3,4,5,6,7,8,9
0,0.391267,1.166542,2.480370,2.311524,1.405250,1.339698,3.129261,2.433457,1.390661,2.680573
1,0.032438,0.508833,2.613947,2.460051,1.425101,1.548686,2.816036,2.592989,1.509089,2.654082
2,-0.539419,0.261415,2.634262,2.492238,1.428215,1.573993,2.912340,2.587292,1.648115,2.630312
3,-0.129627,0.470291,2.586833,2.405516,1.393963,1.458070,2.911406,2.558804,1.769976,2.603402
4,1.237177,0.110975,2.649449,2.441936,1.426269,1.517664,2.887096,2.547409,1.668710,2.635234
...,...,...,...,...,...,...,...,...,...,...
169,0.181395,0.495157,1.928881,1.479787,1.328183,3.219774,5.550795,2.007975,2.389256,0.435682
170,0.315321,0.965126,1.730145,1.319749,1.244110,3.263858,5.907822,1.888016,2.296123,0.433064
171,-0.068159,1.045941,1.692143,1.279852,1.246056,3.586320,5.710517,1.808429,2.266803,0.434216
172,0.164606,1.045941,1.629695,1.236580,1.193899,3.147935,5.771588,1.607730,1.860640,0.436617
173,0.206087,1.003669,1.585919,1.215050,1.153420,2.977316,5.462477,1.589275,1.747673,0.435541

In [34]:
# MinMaxScaler
transfer = MinMaxScaler(feature_range=[2,3])
X_train_minmax = transfer.fit_transform(X_train)
X_test_minmax = transfer.transform(X_test)

# Build model 
# Model 1 Randon Forest

In [35]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import confusion_matrix, accuracy_score, plot_roc_curve
from sklearn.model_selection import GridSearchCV
from sklearn.metrics import mean_squared_error

In [36]:
def RandomForest(X_train,X_test, y_train, y_test):
    estimator = RandomForestClassifier(random_state=42)
    para_dict = {"max_depth": [5,8,15,25,30], "n_estimators":[120,200,300]}
    estimator = GridSearchCV(estimator, para_dict, cv = 3)
    estimator.fit(X_train,y_train)
    predicted = estimator.predict(X_test)

    #5:
    #print("confusion_matrix: \n",pd.DataFrame(confusion_matrix(y_test, predicted)))
    print("accuracy_score: \n", accuracy_score(y_test, predicted))
    print("\n")
    #6:
    print("best_parameters\n", estimator.best_params_)
    print("best_estimator_\n", estimator.best_estimator_)
    print("mean_squared_error",np.sqrt(mean_squared_error(y_test, predicted)))
    #print("best_score\n", estimator.best_score_)
    #print("cv_results_\n", estimator.cv_results_)
    return None

In [37]:
RandomForest(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

accuracy_score:
 0.5402298850574713


best_parameters
 {'max_depth': 25, 'n_estimators': 120}
best_estimator_
 RandomForestClassifier(max_depth=25, n_estimators=120, random_state=42)
mean_squared_error 0.6780635036208104

In [38]:
RandomForest(X_train_minmax,X_test_minmax, y_train, y_test)

accuracy_score:
 0.5287356321839081


best_parameters
 {'max_depth': 25, 'n_estimators': 120}
best_estimator_
 RandomForestClassifier(max_depth=25, n_estimators=120, random_state=42)
mean_squared_error 0.6864869757075454

# Model 2 KNN next

In [39]:
from sklearn.neighbors import KNeighborsClassifier

In [40]:
def knn_(X_train,X_test, y_train, y_test):
    """
    Use KNN
    """
    #4:fit etimator
    estimator = KNeighborsClassifier(n_neighbors=11)
    estimator.fit(X_train, y_train)
    
    #5:model evaluation
    y_predict = estimator.predict(X_test)
    print("Accuracy Score\n", accuracy_score(y_test, y_predict))
    #print(confusion_matrix(y_predict, y_test))
    #print(pd.DataFrame(y_predict))
    return None

In [41]:
knn_(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

Accuracy Score
 0.5804597701149425

In [42]:
knn_(X_train_minmax,X_test_minmax, y_train, y_test)

Accuracy Score
 0.5632183908045977

# Model 3 XGboost

In [43]:
from xgboost import XGBClassifier

In [44]:
def xgb(X_train,X_test,y_train,y_test):
    xgboost = XGBClassifier(base_score=0.5, booster='gbtree')
    xgboost.fit(X_train, y_train)
    preds = xgboost.predict(X_test)
    rmse = np.sqrt(mean_squared_error(y_test, preds))
    print("accuracy:\n",accuracy_score(y_test, preds))
    print("RMSE: %f" % (rmse))

In [45]:
xgb(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

accuracy:
 0.5919540229885057
RMSE: 0.638785

In [46]:
#Use MinMaxScaler have big improve
xgb(X_train_minmax,X_test_minmax, y_train, y_test)

accuracy:
 0.5919540229885057
RMSE: 0.638785

In [47]:
def xgb_2(X_train,X_test,y_train,y_test):
    param_test1 = {
    'max_depth':[i for i in range(3,10,2)],
    'min_child_weight':[i for i in range(1,6,2)]}
    gsearch = GridSearchCV(
    estimator = XGBClassifier(
    learning_rate =0.1,
    n_estimators=140, max_depth=5,
    min_child_weight=1,
    gamma=0,
    subsample=0.8,
    colsample_bytree=0.8,
    objective= 'binary:logistic',
    nthread=4,
    scale_pos_weight=1,
    seed=27),
    param_grid = param_test1,
    scoring='roc_auc',
    n_jobs=4,
    cv=5)
    gsearch.fit(X_train,y_train)
    predicted = gsearch.predict(X_test)
    #print("confusion_matrix: \n",pd.DataFrame(confusion_matrix(y_test, predicted)))
    print("accuracy_score: \n", accuracy_score(y_test, predicted))
    print("\n")
    print("best_parameters\n", gsearch.best_params_)
    print("mean_squared_error",np.sqrt(mean_squared_error(y_test, predicted)))
    #print("best_score\n", gsearch.best_score_)
    #print("best_estimator_\n", gsearch.best_estimator_)
    #print("cv_results_\n", estimator.cv_results_)
    return None

In [48]:
xgb_2(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

accuracy_score:
 0.5229885057471264


best_parameters
 {'max_depth': 3, 'min_child_weight': 1}
mean_squared_error 0.690660187250484

In [50]:
xgb_2(X_train_minmax,X_test_minmax, y_train, y_test)

accuracy_score:
 0.5747126436781609


best_parameters
 {'max_depth': 3, 'min_child_weight': 1}
mean_squared_error 0.6521405955174383

# Model 4 SVM

In [51]:
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import StandardScaler
from sklearn.svm import SVC
def svm(X_train,X_test,y_train,y_test):
    clf = make_pipeline(StandardScaler(), SVC(gamma='auto'))
    clf.fit(X_train, y_train)
    predicted = clf.predict(X_test)
    print("accuracy:\n",accuracy_score(y_test, predicted))
    return None

In [52]:
svm(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

accuracy:
 0.5344827586206896

In [53]:
svm(X_train_minmax,X_test_minmax, y_train, y_test)

accuracy:
 0.5344827586206896

In [54]:
def svm_cross_validation(X_train,X_test,y_train,y_test):    
    from sklearn.model_selection import GridSearchCV 
    model = SVC(kernel='rbf', probability=True)    
    param_grid = {'C': [1e-3, 1e-2, 1e-1, 1, 10, 100, 1000], 'gamma': [0.001, 0.0001]}    
    grid_search = GridSearchCV(model, param_grid, n_jobs = 8, verbose=1)    
    grid_search.fit(X_train, y_train)    
    best_parameters = grid_search.best_estimator_.get_params()     
    model = SVC(kernel='rbf', C=best_parameters['C'], gamma=best_parameters['gamma'], probability=True)    
    model.fit(X_train, y_train)
    predicted = model.predict(X_test) 
    #print("confusion_matrix: \n",pd.DataFrame(confusion_matrix(y_test, predicted)))
    print("accuracy_score: \n", accuracy_score(y_test, predicted))
    return None

In [55]:
svm_cross_validation(X_train_StandardScaler,X_test_StandardScaler, y_train, y_test)

Fitting 5 folds for each of 14 candidates, totalling 70 fits
accuracy_score:
 0.45977011494252873

In [56]:
svm_cross_validation(X_train_minmax,X_test_minmax, y_train, y_test)

Fitting 5 folds for each of 14 candidates, totalling 70 fits
accuracy_score:
 0.45977011494252873

In [ ]:
# Summary